gradle.properties
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
output.json
*.dex
*.class
bin/
gen/
out/
release/
signing/
*.jks
google-services.json
crashlytics.properties
fabric.properties
